//
//  Config.xcconfig
//  Nyxian
//
//  Created by FridaDEV on 09.12.25.
//  Updated by Kyle-Ye on 25.04.26.
//

// Configuration settings file format documentation can be found at:
// https://developer.apple.com/documentation/xcode/adding-a-build-configuration-file-to-your-project

VERSION = 0.11.5
BUILD_NUMBER = 20260910.107.DEBUG

NYXIAN_DEVELOPMENT_TEAM = 7YAQ82Y4P3
DEVELOPMENT_TEAM = $(NYXIAN_DEVELOPMENT_TEAM)

NYXIAN_PRODUCT_BUNDLE_IDENTIFIER = org.cr4zydup.nyxian
NYXIAN_LIVEPROCESS_PRODUCT_BUNDLE_IDENTIFIER = $(NYXIAN_PRODUCT_BUNDLE_IDENTIFIER).LiveProcess

NYXIAN_CODE_SIGN_ENTITLEMENTS = Nyxian/Nyxian.entitlements
NYXIAN_LIVEPROCESS_CODE_SIGN_ENTITLEMENTS = LiveProcess/LiveProcess.entitlements
